<%= form_for(@lookup_value) do |f| %>
  <% if @lookup_value.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@lookup_value.errors.count, "error") %> prohibited this lookup_value from being saved:</h2>

      <ul>
      <% @lookup_value.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <%= render :partial => 'fields', :locals => { :f => f } %>

  <div class="actions">
    <%= f.submit %>
  </div>

<% end %>
